USE [master]
GO
/****** Object:  Database [AA-ADMIN]    Script Date: 24/08/2026 12:34:40 ******/
CREATE DATABASE [AA-ADMIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AA-ADMIN', FILENAME = N'E:\MSSQL\DATA\AA-ADMIN.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AA-ADMIN_log', FILENAME = N'E:\MSSQL\DATA\AA-ADMIN_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AA-ADMIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AA-ADMIN]
GO
/****** Object:  User [wwuser]    Script Date: 24/08/2026 12:34:41 ******/
CREATE USER [wwuser] FOR LOGIN [wwuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [wwuser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [wwuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [wwuser]
GO
/****** Object:  Table [dbo].[MDParking]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDParking](
	[ID] [varchar](10) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Type] [varchar](10) NOT NULL,
	[SRV] [varchar](10) NULL,
	[Name] [nvarchar](100) NULL,
	[Company] [nvarchar](100) NULL,
	[DACode] [varchar](10) NULL,
	[DateFromTable] [date] NULL,
	[DateToTable] [date] NULL,
	[NDays] [int] NULL,
	[TruncateTables] [bit] NULL,
	[SII] [bit] NULL,
	[MultiCounter] [bit] NULL,
	[ServerIP] [varchar](20) NULL,
	[Job] [varchar](100) NULL,
	[LoadDate] [time](7) NULL,
	[Frecuency] [varchar](1) NULL,
 CONSTRAINT [PK_MDParking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VOccupationActual]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VOccupationActual] AS 
SELECT a.[IDPK] + '-' + a.[CounterID] [CounterID]
      ,a.[IDPK] [ParkingId]
      ,b.[Name] [ParkingName]
      ,a.[CounterID] [CounterCode]
      ,a.[CounterName]      
      ,a.[SCType] [ControlSystem]
      ,a.[Capacity]
      ,a.[CurrentLevel]
      ,a.[Perc]
      ,a.[Updated]
  FROM [AA-CONTO].[dbo].[VLastOccupationTotal] a join [dbo].[MDParking] b on a.[IDPK] = b.[ID]
GO
/****** Object:  Table [dbo].[MDParkingStatus]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDParkingStatus](
	[ID] [varchar](10) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[LastImported] [datetime] NULL,
	[LastImportedStatus] [varchar](20) NULL,
	[LastImportedOK] [datetime] NULL,
	[LastCountTotals] [datetime] NULL,
	[LastCountTotalsStatus] [datetime] NULL,
	[LastImportedDuration] [datetime] NULL,
 CONSTRAINT [PK_MDParkingStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VLastParkingData]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VLastParkingData] AS 
SELECT a.[ID]
      ,a.[Name]
      ,coalesce(z.[LastCountTotals], '1900-01-01') [LastCountTotals]
	  ,z.[LastCountTotalsStatus]
	  ,b.[DailyTrans]
	  ,b.[DailyTotalAmount]
	  ,c.[perc] ocupTotal
	  ,d.[perc] ocupAbo
	  ,e.[perc] ocupRot
  FROM [AA-ADMIN].[dbo].[MDParking] a join [AA-ADMIN].[dbo].[MDParkingStatus] z on a.ID = z.ID
  left join [AA-CONTO].[dbo].[VLastTotals] b on a.ID = b.IDPK
  left join [AA-CONTO].[dbo].[VLastOccupationTotal] c on a.ID = c.IDPK
  left join [AA-CONTO].[dbo].[VLastOccupationRotation] d on  a.ID = d.IDPK 
  left join [AA-CONTO].[dbo].[VLastOccupationSubscriber] e on a.ID = e.IDPK
  where a.Active = 1
GO
/****** Object:  Table [dbo].[MDUser]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDUser](
	[Id] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[LastName1] [nvarchar](50) NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_MDUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDRol]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDRol](
	[Id] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MDRol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDUserRol]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDUserRol](
	[Id] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[UserId] [uniqueidentifier] NULL,
	[RolId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MDUserRol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VUser]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VUser] AS 
SELECT        [name], lastname, lastname1,  login, email, phone, active, id, 
		(SELECT STUFF (( SELECT ', ' + d.[name] FROM MDUserRol b, MDRol d WHERE b.rolId = d.id and b.userId = a.id and b.active = 1 FOR XML PATH ( '' )) , 1 , 1 , '' )) rols
FROM            dbo.MDUser a
GO
/****** Object:  View [dbo].[VDailyTotal]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[VDailyTotal] as
SELECT [IDPK]
      ,[TotalDate]
      ,[DailyTotalAmount]
      ,[DailyTransWithPay]
      ,[DailyTransWithOutPay]
  FROM [AA-CONTO].[dbo].[TRDailyTotal]
GO
/****** Object:  View [dbo].[VParkingSummary]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VParkingSummary] AS 
SELECT [IDPK] + '_' + CAST([Date] as varchar) ID 
      ,[IDPK]
      ,[Date]
      ,[Operations]
      ,[Total]
      ,[InvoiceNoMin]
      ,[InvoiceNoMax]
      ,[ParkingTransTotal]
      ,[ParkingTransNum]
      ,[SumMinutes]
      ,[InvoicesTotal]
      ,[InvoicesNum]
      ,[ACATotal]
      ,[ACANum]
      ,[CEITotal]
      ,[CEINum]
      ,[CERTotal]
      ,[CERNum]
      ,[CashTotal]
      ,[CashNum]
      ,[RestTotal]
      ,[RestNum]
  FROM [AA-ERPINT].[dbo].[ParkingSummary]
  where [Date] < '2026-01-07'
GO
/****** Object:  View [dbo].[VParkingSummaryDetail]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VParkingSummaryDetail] as
SELECT IDPK + '_' + CAST([Date] as varchar) + '_' + COALESCE(CAST([PaymentTypeId] as varchar), 'NULL') ID
      ,IDPK +'_' + CAST([Date] as varchar) IDSummary
      ,[IDPK]
      ,[Date]
      ,[PaymentTypeId]
      ,[PaymentTypeName]
      ,[Operations]
      ,[Total]
      ,NULL Discount
  FROM [AA-ERPINT].[dbo].[ParkingSummaryDetail]
GO
/****** Object:  Table [dbo].[MDCounterConfig]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDCounterConfig](
	[ID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[IDPK] [varchar](10) NOT NULL,
	[CounterID] [varchar](40) NOT NULL,
	[CounterName] [nvarchar](50) NULL,
	[OccupancyLimit] [smallint] NULL,
	[CounterType] [varchar](10) NULL,
 CONSTRAINT [PK_MDCounterConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDParkingType]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDParkingType](
	[Id] [varchar](10) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MDParkingType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRImportProcess]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRImportProcess](
	[ID] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[IDPK] [varchar](10) NULL,
	[Begin] [datetime] NULL,
	[End] [datetime] NULL,
	[Duration] [time](7) NULL,
	[Status] [varchar](20) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TRImportProcess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRProcessError]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRProcessError](
	[ID] [uniqueidentifier] NOT NULL,
	[Active] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[IDPK] [varchar](10) NULL,
	[UserName] [varchar](100) NULL,
	[ErrorNumber] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorProcedure] [varchar](max) NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL,
	[ExcutionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TRProcessError] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MDCounterConfig]    Script Date: 24/08/2026 12:34:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MDCounterConfig] ON [dbo].[MDCounterConfig]
(
	[IDPK] ASC,
	[CounterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Errores]    Script Date: 24/08/2026 12:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Errores] ON [dbo].[TRProcessError]
(
	[ExcutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MDCounterConfig] ADD  CONSTRAINT [DF_MDCounterConfig_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MDCounterConfig] ADD  CONSTRAINT [DF_MDCounterConfig_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MDCounterConfig] ADD  CONSTRAINT [DF_MDCounterConfig_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[MDParking] ADD  CONSTRAINT [DF__MDParking__Activ__3B75D760]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MDParking] ADD  CONSTRAINT [DF_MDParking_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MDParking] ADD  CONSTRAINT [DF_MDParking_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[MDParking] ADD  CONSTRAINT [DF__MDParking__SII__3A81B327]  DEFAULT ((0)) FOR [SII]
GO
ALTER TABLE [dbo].[MDParking] ADD  CONSTRAINT [DF__MDParking__Frecu__3C69FB99]  DEFAULT ('N') FOR [Frecuency]
GO
ALTER TABLE [dbo].[MDParkingStatus] ADD  CONSTRAINT [DF_MDParkingStatus_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MDParkingStatus] ADD  CONSTRAINT [DF_MDParkingStatus_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MDParkingStatus] ADD  CONSTRAINT [DF_MDParkingStatus_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[MDParkingType] ADD  CONSTRAINT [DF__MDParkingType__active__3F466844]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MDParkingType] ADD  CONSTRAINT [DF_MDParkingType_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MDParkingType] ADD  CONSTRAINT [DF_MDParkingType_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[MDRol] ADD  CONSTRAINT [DF__MDRol__active__3F466844]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MDRol] ADD  CONSTRAINT [DF_MDRol_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MDRol] ADD  CONSTRAINT [DF_MDRol_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[MDUser] ADD  CONSTRAINT [DF__MDUser__active__45F365D3]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MDUser] ADD  CONSTRAINT [DF_MDUser_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MDUser] ADD  CONSTRAINT [DF_MDUser_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[MDUserRol] ADD  CONSTRAINT [DF__MDUserRol__activ__48CFD27E]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MDUserRol] ADD  CONSTRAINT [DF_MDUserRol_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MDUserRol] ADD  CONSTRAINT [DF_MDUserRol_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[TRImportProcess] ADD  CONSTRAINT [DF_TRImportProcess_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[TRImportProcess] ADD  CONSTRAINT [DF_TRImportProcess_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TRImportProcess] ADD  CONSTRAINT [DF_TRImportProcess_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[TRProcessError] ADD  CONSTRAINT [DF_TRProcessError_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[TRProcessError] ADD  CONSTRAINT [DF_TRProcessError_CreatedBy]  DEFAULT (N'system') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TRProcessError] ADD  CONSTRAINT [DF_TRProcessError_UpdatedBy]  DEFAULT (N'system') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[MDParking]  WITH CHECK ADD  CONSTRAINT [FK_MDParking_MDParkingType] FOREIGN KEY([Type])
REFERENCES [dbo].[MDParkingType] ([Id])
GO
ALTER TABLE [dbo].[MDParking] CHECK CONSTRAINT [FK_MDParking_MDParkingType]
GO
ALTER TABLE [dbo].[MDUserRol]  WITH CHECK ADD  CONSTRAINT [FK_MDUserRol_MDRol] FOREIGN KEY([RolId])
REFERENCES [dbo].[MDRol] ([Id])
GO
ALTER TABLE [dbo].[MDUserRol] CHECK CONSTRAINT [FK_MDUserRol_MDRol]
GO
ALTER TABLE [dbo].[MDUserRol]  WITH CHECK ADD  CONSTRAINT [FK_MDUserRol_MDUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[MDUser] ([Id])
GO
ALTER TABLE [dbo].[MDUserRol] CHECK CONSTRAINT [FK_MDUserRol_MDUser]
GO
ALTER TABLE [dbo].[TRImportProcess]  WITH CHECK ADD  CONSTRAINT [FK_TRImportProcess_MDParking] FOREIGN KEY([IDPK])
REFERENCES [dbo].[MDParking] ([ID])
GO
ALTER TABLE [dbo].[TRImportProcess] CHECK CONSTRAINT [FK_TRImportProcess_MDParking]
GO
/****** Object:  StoredProcedure [dbo].[AllpkGenerate]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Generate ALLDBPK by join all tables
-- =============================================

CREATE  PROCEDURE [dbo].[AllpkGenerate]
AS
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	EXEC [dbo].[AllpkJoinTable] @table = N'MDArticle'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDClient'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDClientUser'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDClientUserCard'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDConceptType'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDCounter'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDDevice'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDDeviceType'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDOperator'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDPaymentType'
	EXEC [dbo].[AllpkJoinTable] @table = N'MDSystemEvent'

	EXEC [dbo].[AllpkJoinTable] @table = N'TRCounterReg'
	EXEC [dbo].[AllpkJoinTable] @table = N'TRDailyTotal'
	EXEC [dbo].[AllpkJoinTable] @table = N'TRInvoice'
	EXEC [dbo].[AllpkJoinTable] @table = N'TRMovement'
	EXEC [dbo].[AllpkJoinTable] @table = N'TRParkingTrans'
	EXEC [dbo].[AllpkJoinTable] @table = N'TRPayment'
	EXEC [dbo].[AllpkJoinTable] @table = N'TRShift'
	EXEC [dbo].[AllpkJoinTable] @table = N'TRSystemEventReg'
	
	EXEC [dbo].[AllpkRefreshConfigHistory]

END TRY

BEGIN CATCH

			INSERT INTO [AA-ADMIN].[dbo].[TRProcessError]
			([ID]
			,[IDPK]
			,[UserName]
			,[ErrorNumber]
			,[ErrorState]
			,[ErrorSeverity]
			,[ErrorLine]
			,[ErrorProcedure]
			,[ErrorMessage]
			,[ErrorDateTime]
			,[ExcutionId]
			,[CreatedBy]
			,[UpdatedBy]
			,[Created]
			,[Updated])
			VALUES
			  (NEWID(),
			   'ALLDB',
			   SUSER_SNAME(),
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   ERROR_PROCEDURE(),
			   ERROR_MESSAGE(),
			   GETDATE()
			   ,null
			   ,'system'
			   ,'system'
			   ,getdate()
			   ,getdate()
			   );

END CATCH
GO
/****** Object:  StoredProcedure [dbo].[AllpkJoinTable]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- @table: Table to join
-- Return: Nothing
-- Summary:	Join a table using same table from all parkings
-- =============================================

CREATE   PROCEDURE [dbo].[AllpkJoinTable]
@table varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @updated datetime = getdate();
	declare @sql varchar(max) = '';
	declare @ParkingId varchar(10), @ParkingName varchar(100)

	set @sql ='TRUNCATE TABLE [ALLPK].[dbo].[' + @table + ']';
	print @sql

	EXEC(@sql)


	DROP TABLE IF EXISTS #tempcolumnall
	DROP TABLE IF EXISTS #tempcolumnpk

	SELECT COLUMN_NAME name, ORDINAL_POSITION colorder INTO #tempcolumnall
	FROM [ALLPK].INFORMATION_SCHEMA.COLUMNS
	WHERE TABLE_NAME = @table

	SELECT COLUMN_NAME name, ORDINAL_POSITION colorder, 0 flat INTO #tempcolumnpk
	FROM [ALLPK].INFORMATION_SCHEMA.COLUMNS
	WHERE TABLE_NAME = @table and COLUMN_NAME <> 'IDPK'
	UNION 
	SELECT null name, 0 colorder, 1 flat

	DECLARE c CURSOR READ_ONLY FOR
	SELECT [ID], [Name]
	FROM  [dbo].[MDParking]
	WHERE Active = 1

	OPEN c  
	FETCH NEXT FROM c INTO @ParkingId, @ParkingName 

	WHILE @@FETCH_STATUS = 0
	BEGIN
		set @sql ='INSERT INTO [ALLPK].[dbo].[' + @table + '](' +
		STUFF ((
			SELECT ', [' + name + ']'
			FROM #tempcolumnall
			ORDER BY colorder
			FOR XML PATH('')), 1, 1, '') +
				') SELECT ' +

		STUFF ((
			SELECT ', ' + case when flat = 0 then '[' + name + ']' else '''' + @ParkingId + '''' end
			FROM #tempcolumnpk
			ORDER BY colorder
			FOR XML PATH('')), 1, 1, '') +

		' FROM [' + @ParkingId + '].[dbo].[' + @table + ']'

		print @sql
		EXEC(@sql)

		FETCH NEXT FROM c INTO @ParkingId, @ParkingName 
	END

	close c
	deallocate c
END
GO
/****** Object:  StoredProcedure [dbo].[AllpkRefreshConfigHistory]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Resfresh ALLDBPK-HIST config
-- =============================================

CREATE  PROCEDURE [dbo].[AllpkRefreshConfigHistory]
AS

-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

truncate table [ALLPK-HIST].[dbo].[MDArticle]
truncate table [ALLPK-HIST].[dbo].[MDClient]
truncate table [ALLPK-HIST].[dbo].[MDClientUser]
truncate table [ALLPK-HIST].[dbo].[MDClientUserCard]
truncate table [ALLPK-HIST].[dbo].[MDConceptType]
truncate table [ALLPK-HIST].[dbo].[MDCounter]
truncate table [ALLPK-HIST].[dbo].[MDDevice]
truncate table [ALLPK-HIST].[dbo].[MDDeviceType]
truncate table [ALLPK-HIST].[dbo].[MDOperator]
truncate table [ALLPK-HIST].[dbo].[MDPaymentType]
truncate table [ALLPK-HIST].[dbo].[MDSystemEvent]

insert into [ALLPK-HIST].[dbo].[MDArticle] select * from [ALLPK].[dbo].[MDArticle]
insert into [ALLPK-HIST].[dbo].[MDClient] select * from [ALLPK].[dbo].[MDClient]
insert into [ALLPK-HIST].[dbo].[MDClientUser] select * from [ALLPK].[dbo].[MDClientUser]
insert into [ALLPK-HIST].[dbo].[MDClientUserCard] select * from [ALLPK].[dbo].[MDClientUserCard]
insert into [ALLPK-HIST].[dbo].[MDConceptType] select * from [ALLPK].[dbo].[MDConceptType]
insert into [ALLPK-HIST].[dbo].[MDCounter] select * from [ALLPK].[dbo].[MDCounter]
insert into [ALLPK-HIST].[dbo].[MDDevice] select * from [ALLPK].[dbo].[MDDevice]
insert into [ALLPK-HIST].[dbo].[MDDeviceType] select * from [ALLPK].[dbo].[MDDeviceType]
insert into [ALLPK-HIST].[dbo].[MDOperator] select * from [ALLPK].[dbo].[MDOperator]
insert into [ALLPK-HIST].[dbo].[MDPaymentType] select * from [ALLPK].[dbo].[MDPaymentType]
insert into [ALLPK-HIST].[dbo].[MDSystemEvent] select * from [ALLPK].[dbo].[MDSystemEvent]
	
GO
/****** Object:  StoredProcedure [dbo].[CheckErrorsAndSendUsers]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Check error in last hour and send users notifications
-- =============================================

CREATE PROCEDURE [dbo].[CheckErrorsAndSendUsers]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @count integer = 0
 
	select @count = count(*) from [dbo].[TRProcessError] where [ErrorDateTime] > dateadd(hh,-1,getdate())

	if(@count > 0)
	begin
		declare @tmp varchar(max) = 'SIP - Informe de errores en la ultima hora';
		declare @queryTmp varchar(2000) = 'select * from [dbo].[TRProcessError] where [ErrorDateTime] > dateadd(hh,-1,getdate()) order by [ErrorDateTime]';
		
		EXEC [dbo].[SendUsersNotifications] @tmp, @tmp, @queryTmp
	end
END
GO
/****** Object:  StoredProcedure [dbo].[ContoDelOldData]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Move counter to history
-- =============================================

CREATE PROCEDURE [dbo].[ContoDelOldData]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM [AA-CONTO].[dbo].[TRCounterReg]
	WHERE  CounterDate < dateadd(dd, -30, cast(getdate() as date))

	DELETE FROM [AA-CONTO].[dbo].[TRDailyTotal]
	WHERE  TotalDate < dateadd(dd, -30, cast(getdate() as date))

END
GO
/****** Object:  StoredProcedure [dbo].[ExecutePending]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Execute jobs pending
-- =============================================

CREATE   PROCEDURE [dbo].[ExecutePending]
AS
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @NumInit integer = 0
	declare @Job varchar(100) = null

	select @NumInit = count(*) from [dbo].[MDParkingStatus] where LastImportedStatus like 'INICIADA%'

	if @NumInit < 5
	begin
		select @Job = Job from [dbo].[MDParkingStatus] a join [dbo].[MDParking] b on a.ID = b.ID 
		where LastImportedStatus = 'PENDIENTE'
		if @Job is not null
			EXEC msdb.dbo.sp_start_job @Job
	end
	else
		print ('Numero máximo de procesos activos')
END TRY

BEGIN CATCH

			INSERT INTO [AA-ADMIN].[dbo].[TRProcessError]
			([ID]
			,[IDPK]
			,[UserName]
			,[ErrorNumber]
			,[ErrorState]
			,[ErrorSeverity]
			,[ErrorLine]
			,[ErrorProcedure]
			,[ErrorMessage]
			,[ErrorDateTime]
			,[ExcutionId]
			,[CreatedBy]
			,[UpdatedBy]
			,[Created]
			,[Updated])
			VALUES
			  (NEWID(),
			   'PEND',
			   SUSER_SNAME(),
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   ERROR_PROCEDURE(),
			   ERROR_MESSAGE(),
			   GETDATE()
			   ,null
			   ,'system'
			   ,'system'
			   ,getdate()
			   ,getdate()
			   );

END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SendUsersNotifications]    Script Date: 24/08/2026 12:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Send users notifications
-- =============================================
CREATE PROCEDURE [dbo].[SendUsersNotifications]
@psubject varchar(max),
@pbody varchar(max),
@pquery varchar(max)
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @emailid varchar(max)
	declare @subjecttmp varchar(max)
	set @subjecttmp = 'Parkia SIP - '

	declare cursor1 CURSOR for
	select distinct u.email 
	from MDUser u 
	where u.active = 1 and exists 
		(select 1 from MDUserRol ur join MDRol r on ur.rolId = r.id 
		 where r.name like 'emailnotif' and u.id = ur.userId)

	open cursor1

	fetch next from cursor1 into @emailid

	while @@FETCH_STATUS = 0
	BEGIN

		exec msdb.dbo.sp_send_dbmail @profile_name='noreply@iccaweb.com',
							@recipients= @emailid,
							@subject= @subjecttmp,
							@body= @pbody,
							@query= @pquery,
							@body_format = 'HTML'

		fetch next from cursor1 into @emailid
			
	END
	close cursor1
	deallocate cursor1
END

GO
USE [master]
GO
