USE [master]
GO
/****** Object:  Database [AA-CONTO]    Script Date: 24/08/2026 14:10:02 ******/
CREATE DATABASE [AA-CONTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AA-CONTO', FILENAME = N'E:\MSSQL\DATA\AA-CONTO.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AA-CONTO_log', FILENAME = N'E:\MSSQL\DATA\AA-CONTO_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AA-CONTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AA-CONTO]
GO
/****** Object:  User [wwuser]    Script Date: 24/08/2026 14:10:03 ******/
CREATE USER [wwuser] FOR LOGIN [wwuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [wwuser]
GO
/****** Object:  Table [dbo].[TRCounterReg]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRCounterReg](
	[IDPK] [varchar](10) NOT NULL,
	[CounterID] [varchar](40) NOT NULL,
	[CounterDate] [datetime] NOT NULL,
	[CurrentLevel] [smallint] NOT NULL,
	[Capacity] [smallint] NULL,
	[Inserted] [datetime] NULL,
	[Updated] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VLastOccupationAll]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VLastOccupationAll] AS 
select a.IDPK, a.CounterID, a.Capacity, a.CurrentLevel, a.updated, round((cast(a.CurrentLevel as decimal(6,2)) / cast(a.Capacity as decimal(6,2))) * 100, 2) Perc
from
(SELECT [IDPK]
      ,[CounterID]
      ,[CurrentLevel]
      ,case when [Capacity] is null or [Capacity] = 0 then 1 else [Capacity] end Capacity
      ,Updated
	  ,[index] = ROW_NUMBER() OVER (PARTITION BY [IDPK], [CounterID] ORDER BY [CounterDate] desc)
  FROM [dbo].[TRCounterReg]) a
where a.[index] = 1
GO
/****** Object:  View [dbo].[VParking]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VParking] AS 
SELECT [ID]
      ,[type]
      ,[SRV]
      ,[Name]
      ,[Company]
      ,[DACode]
  FROM [AA-ADMIN].[dbo].[MDParking]
GO
/****** Object:  View [dbo].[MDCounterConfig]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MDCounterConfig] AS
SELECT [IDPK]
      ,[CounterID]
      ,[CounterName]
      ,[OccupancyLimit]
      ,[CounterType]
  FROM [AA-ADMIN].[dbo].[MDCounterConfig]
GO
/****** Object:  View [dbo].[VLastOccupationAllDetail]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VLastOccupationAllDetail] AS 
select c.IDPK, c.CounterID, p.[type] [SCType], b.[CounterType], c.[Updated],
coalesce(b.CounterName, a.CounterName) [CounterName],
coalesce(b.OccupancyLimit, c.Capacity, a.OccupancyLimit) [Capacity], c.CurrentLevel, 
round((cast(c.CurrentLevel as decimal(6,2)) / cast(case when coalesce(b.OccupancyLimit, c.Capacity, a.OccupancyLimit) = 0 then 1 else coalesce(b.OccupancyLimit, c.Capacity, a.OccupancyLimit) end as decimal(6,2))) * 100, 2) Perc
from
(SELECT [IDPK]
      ,[CounterID]
      ,[CurrentLevel]
      ,[Capacity]
      ,[Updated]
	  ,[index] = ROW_NUMBER() OVER (PARTITION BY [IDPK], [CounterID] ORDER BY [CounterDate] desc)
  FROM [dbo].[TRCounterReg]) c join [ALLPK].[dbo].[MDCounter] a on a.IDPK = c.IDPK and a.CounterID = c.CounterId
  join [dbo].[VParking] p on p.ID = c.IDPK
  left join [dbo].[MDCounterConfig] b on b.IDPK = c.IDPK and b.CounterID = c.CounterId
where c.[index] = 1
GO
/****** Object:  View [dbo].[VLastOccupationRotation]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VLastOccupationRotation] AS 
SELECT [IDPK]
      ,[CounterID]
      ,[SCType]
      ,[CounterType]
      ,[CounterName]
      ,[Capacity]
      ,[CurrentLevel]
      ,[Perc]
      ,[Updated]
  FROM [dbo].[VLastOccupationAllDetail]
  where ([SCType] = 'SD' and [CounterId] = 1) or
  ([SCType] = 'EQ' and [CounterName] like '%Rot%')
GO
/****** Object:  View [dbo].[VLastOccupationSubscriber]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VLastOccupationSubscriber] AS 
SELECT [IDPK]
      ,[CounterID]
      ,[SCType]
      ,[CounterType]
      ,[CounterName]
      ,[Capacity]
      ,[CurrentLevel]
      ,[Perc]
      ,[Updated]
  FROM [dbo].[VLastOccupationAllDetail]
  where ([SCType] = 'SD' and [CounterId] = 2) or
  ([SCType] = 'EQ' and [CounterName] like '%Abo%')
GO
/****** Object:  View [dbo].[VLastOccupationTotal]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VLastOccupationTotal] AS 
SELECT [IDPK]
      ,[CounterID]
      ,[SCType]
      ,[CounterType]
      ,[CounterName]
      ,[Capacity]
      ,[CurrentLevel]
      ,[Perc]
      ,[Updated]
  FROM [dbo].[VLastOccupationAllDetail]
  --where 
  --([SCType] = 'SD' and [CounterId] = 3) or
  --([SCType] = 'EQ' and [CounterName] like '%Todos%') or
  --([SCType] = 'MY' and [CounterName] like '%Todos%')

GO
/****** Object:  Table [dbo].[TRDailyTotal]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRDailyTotal](
	[IDPK] [varchar](10) NOT NULL,
	[TotalDate] [datetime] NOT NULL,
	[DailyTotalAmount] [decimal](18, 2) NULL,
	[DailyTransWithPay] [int] NULL,
	[DailyTransWithOutPay] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VLastTotals]    Script Date: 24/08/2026 14:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VLastTotals] AS 
select a.IDPK, a.DailyTrans, a.DailyTotalAmount
from
(SELECT [IDPK]
      ,[DailyTransWithPay] + [DailyTransWithOutPay] DailyTrans 
	  ,DailyTotalAmount
	  ,indice = ROW_NUMBER() OVER (PARTITION BY [IDPK] ORDER BY [TotalDate] desc)
  FROM [dbo].[TRDailyTotal] ) a
where a.indice = 1
GO
USE [master]
GO
