USE [master]
GO
/****** Object:  Database [AA-ERPINT]    Script Date: 24/08/2026 14:11:17 ******/
CREATE DATABASE [AA-ERPINT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AA-ERPINT', FILENAME = N'E:\MSSQL\DATA\AA-ERPINT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AA-ERPINT_log', FILENAME = N'E:\MSSQL\DATA\AA-ERPINT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AA-ERPINT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AA-ERPINT]
GO
/****** Object:  User [wwuser]    Script Date: 24/08/2026 14:11:17 ******/
CREATE USER [wwuser] FOR LOGIN [wwuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [wwuser]
GO
/****** Object:  View [dbo].[VParkingTrans]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VParkingTrans] AS 
SELECT a.[IDPK]
      ,cast(a.[ParkingTransTime] as Date) [Date]
	  ,SUBSTRING(a.[InvoiceNo], COALESCE(CHARINDEX('/', a.[InvoiceNo]), 1) + 1, LEN(a.[InvoiceNo])) InvoiceNo
	  ,SUBSTRING(a.[InvoiceNo], COALESCE(CHARINDEX('/', a.[InvoiceNo]) - 2, LEN(a.[InvoiceNo])), 2) Anno
	  ,convert(varchar(8), a.[ParkingTransTime], 112) + '$' + SUBSTRING(a.[InvoiceNo], COALESCE(CHARINDEX('/', a.[InvoiceNo]), 1) + 1, LEN(a.[InvoiceNo])) InvoiceNoDate
      ,a.[Revenue]
	  ,a.[ParkingDuration]
	  ,a.[ParkingTransType]
	  ,a.[PaymentTypeID]
	  ,a.[ConceptTypeID]
  FROM [ALLPK].[dbo].[TRParkingTrans] a join [AA-ADMIN].[dbo].[MDParking] b on a.[IDPK] = b.[ID]
  where 
  (b.[type] = 'SD' and a.[ParkingTransType] = 'P') or 
  (b.[type] = 'MY' and a.[ParkingTransType] = 'P') or
  (b.[type] = 'EQ' and a.[PaymentTypeID] not in ('3','4','5') and a.[ConceptTypeID] not in ('4', '9', '13', '17'))
GO
/****** Object:  View [dbo].[VParkingTransByDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VParkingTransByDate] AS 
select a.[IDPK], a.[Date], COUNT(*) Operations, round(SUM(a.[Revenue]), 2) Total, SUM(ParkingDuration) [SumMinutes], MIN(InvoiceNoDate) InvoiceNoMin, MAX(InvoiceNoDate) InvoiceNoMax
from dbo.[VParkingTrans] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
group by a.[IDPK], a.[Date];
GO
/****** Object:  View [dbo].[VPayments]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VPayments] AS 
SELECT a.[IDPK]
      ,cast(a.[PaymentTime] as Date) [Date]
	  ,a.[PaymentTypeID]
      ,a.[ConceptTypeID]
      ,a.[TotalRevenue]
  FROM [ALLPK].[dbo].[TRPayment] a join [AA-ADMIN].[dbo].[MDParking] b on a.[IDPK] = b.[ID]
  where 
  ((b.[type] = 'SD' and ConceptTypeID = 'P') or
  (b.[type] = 'MY' and ConceptTypeID = 'P') or
  (b.[type] = 'EQ' and a.[PaymentTypeID] not in ('3','4','5')  and a.[ConceptTypeID] not in ('4', '9', '8', '13', '17')))
GO
/****** Object:  View [dbo].[VPaymentsByDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VPaymentsByDate] AS 
select a.[IDPK], a.[Date], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [dbo].[VPayments] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
group by a.[IDPK], a.[Date]
GO
/****** Object:  View [dbo].[VPaymentsByDateCash]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VPaymentsByDateCash] AS 
select a.[IDPK], a.[Date], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [dbo].[VPayments] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
where (PaymentTypeId = '0' and b.type = 'EQ') or (PaymentTypeId = '1' and b.type = 'SD')
group by a.[IDPK], a.[Date]
GO
/****** Object:  View [dbo].[VPaymentsByDatePaymentType]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VPaymentsByDatePaymentType] AS 
select a.[IDPK], a.[Date], a.[PaymentTypeID], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [dbo].[VPayments] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
group by a.[IDPK], a.[Date], a.[PaymentTypeID]
GO
/****** Object:  View [dbo].[VPaymentsByDateRest]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VPaymentsByDateRest] AS 
select a.[IDPK], a.[Date], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [dbo].[VPayments] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
where (PaymentTypeID != '0' and b.type = 'EQ')
group by a.[IDPK], a.[Date]
union
select a.[IDPK], a.[Date], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [dbo].[VPayments] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
where (PaymentTypeID != '1' and b.type = 'SD')
group by a.[IDPK], a.[Date]
GO
/****** Object:  View [dbo].[VInvoices]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VInvoices] AS 
SELECT a.[IDPK]
      ,cast(a.[InvoiceTime] as Date) [Date]
	  ,SUBSTRING(a.[InvoiceNo], COALESCE(CHARINDEX('/', a.[InvoiceNo]), 1) + 1, LEN(a.[InvoiceNo])) InvoiceNo
	  ,SUBSTRING(a.[InvoiceNo], COALESCE(CHARINDEX('/', a.[InvoiceNo]) - 2, LEN(a.[InvoiceNo])), 2) Anno
	  ,CONVERT(varchar(8), a.[InvoiceTime], 112) + '$' + SUBSTRING(a.[InvoiceNo], COALESCE(CHARINDEX('/', a.[InvoiceNo]), 1) + 1, LEN(a.[InvoiceNo])) InvoiceNoDate
      ,a.[Revenue]
	  ,a.[PaymentTypeID]
	  ,a.[ConceptTypeID]
  FROM [ALLPK].[dbo].[TRInvoice] a
GO
/****** Object:  View [dbo].[VInvoicesByDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VInvoicesByDate] AS 
select a.[IDPK], a.[Date], COUNT(*) Operations, round(SUM(a.[Revenue]), 2) Total, MIN(InvoiceNoDate) InvoiceNoMin, MAX(InvoiceNoDate) InvoiceNoMax
from dbo.[VInvoices] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
group by a.[IDPK], a.[Date];
GO
/****** Object:  Table [dbo].[NavSummary]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NavSummary](
	[IDPK] [varchar](10) NOT NULL,
	[SumaryDate] [date] NOT NULL,
	[DACode] [varchar](10) NULL,
	[DocumentType] [varchar](20) NULL,
	[DocumentNo] [varchar](50) NULL,
	[PaymentTypeCode] [varchar](100) NULL,
	[LineNo] [int] NULL,
	[LineDescription] [nvarchar](200) NULL,
	[Quantity] [decimal](10, 0) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Alias] [nvarchar](200) NULL,
	[MachineId] [varchar](50) NULL,
	[TicketNoBegin] [varchar](20) NULL,
	[TicketNoEnd] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VNavSummary]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VNavSummary] AS 
SELECT a.[IDPK]
      ,b.[Name] [NombreParking] 
      ,b.[DACode] [Departamento]
      ,CAST(FORMAT(a.[SumaryDate], 'dd/MM/yyyy') as VARCHAR(12)) [FechaEmision] 
      ,a.[DocumentType] [TipoDocumento]
      ,a.[DocumentNo] [NoDocumento]
      ,a.[PaymentTypeCode] [FormaPago]
      ,a.[LineNo] [LineaNo]
      ,a.[LineDescription] [Expendedor]
      ,a.[Quantity] [Cantidad]
      ,a.[Amount] [Total]
      ,a.[Alias]
      ,a.[MachineId] [Dispositivo]
      ,a.[TicketNoBegin] [FacturaSimplificadaDesde]
      ,a.[TicketNoEnd] [FacturaSimplificadaHasta]
      ,a.[SumaryDate]
      ,b.[Company]
  FROM [AA-ERPINT].[dbo].[NavSummary] a
  join [AA-ADMIN].[dbo].[MDParking] b on a.[IDPK] = b.[ID]
GO
/****** Object:  View [dbo].[VSkidataAmountCancellationsByDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VSkidataAmountCancellationsByDate] AS 
select a.[IDPK], cast([PaymentTime] as date) [Date], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [ALLPK].[dbo].[TRPayment] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
where [ConceptTypeID] = 'ACA'
group by a.[IDPK], cast([PaymentTime] as date)
GO
/****** Object:  View [dbo].[VSkidataCreditEntriesIssuedByDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VSkidataCreditEntriesIssuedByDate] AS 
select a.[IDPK], cast([PaymentTime] as date) [Date], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [ALLPK].[dbo].[TRPayment] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
where [ConceptTypeID] = 'CEI'
group by a.[IDPK], cast([PaymentTime] as date)
GO
/****** Object:  View [dbo].[VSkidataCreditEntriesRedeemedByDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VSkidataCreditEntriesRedeemedByDate] AS 
select a.[IDPK], cast([PaymentTime] as date) [Date], COUNT(*) [Operations], round(SUM(a.[TotalRevenue]), 2) Total
from [ALLPK].[dbo].[TRPayment] a left join [AA-ADMIN].[dbo].[MDParking] b on a.IDPK = b.ID
where [ConceptTypeID] = 'CER'
group by a.[IDPK], cast([PaymentTime] as date)
GO
/****** Object:  View [dbo].[VAllOperationsByDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VAllOperationsByDate] AS 
SELECT a.[IDPK],a.[Date],SUM(a.[Operations]) [Operations],SUM(a.[Total]) [Total], MIN([InvoiceNoMin]) [InvoiceNoMin], MAX([InvoiceNoMax]) [InvoiceNoMax] 
FROM 
(SELECT [IDPK],[Date],[Operations],[Total],[InvoiceNoMin],[InvoiceNoMax] FROM [dbo].[VParkingTransByDate]
union
SELECT [IDPK],[Date],[Operations],[Total],NULL,NULL FROM [dbo].[VInvoicesByDate]
union
SELECT [IDPK],[Date],[Operations],[Total],NULL,NULL FROM [dbo].[VSkidataAmountCancellationsByDate]
union
SELECT [IDPK],[Date],[Operations],[Total],NULL,NULL FROM [dbo].[VSkidataCreditEntriesIssuedByDate]
union
SELECT [IDPK],[Date],[Operations],[Total],NULL,NULL FROM [dbo].[VSkidataCreditEntriesRedeemedByDate]
) a
GROUP BY a.[IDPK],a.[Date]
GO
/****** Object:  View [dbo].[VParking]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VParking] AS 
SELECT [ID]
      ,[type]
      ,[SRV]
      ,[Name]
      ,[Company]
      ,[DACode]
      ,[sii]
      ,[MultiCounter]
  FROM [AA-ADMIN].[dbo].[MDParking]
GO
/****** Object:  Table [dbo].[ParkingSummary]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSummary](
	[IDPK] [varchar](10) NOT NULL,
	[Date] [date] NULL,
	[Operations] [int] NULL,
	[Total] [decimal](38, 4) NULL,
	[InvoiceNoMin] [varchar](29) NULL,
	[InvoiceNoMax] [varchar](29) NULL,
	[ParkingTransTotal] [decimal](38, 4) NULL,
	[ParkingTransNum] [int] NULL,
	[SumMinutes] [int] NULL,
	[InvoicesTotal] [decimal](38, 4) NULL,
	[InvoicesNum] [int] NULL,
	[ACATotal] [decimal](38, 4) NULL,
	[ACANum] [int] NULL,
	[CEITotal] [decimal](38, 4) NULL,
	[CEINum] [int] NULL,
	[CERTotal] [decimal](38, 4) NULL,
	[CERNum] [int] NULL,
	[CashTotal] [decimal](38, 4) NULL,
	[CashNum] [int] NULL,
	[RestTotal] [decimal](38, 4) NULL,
	[RestNum] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSummaryDetail]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSummaryDetail](
	[IDPK] [varchar](10) NOT NULL,
	[Date] [date] NULL,
	[PaymentTypeId] [varchar](40) NULL,
	[PaymentTypeName] [nvarchar](50) NULL,
	[Operations] [int] NULL,
	[Total] [decimal](38, 4) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GenerateParkingSummary]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[GenerateParkingSummary]
AS
BEGIN
  

  drop table if exists [dbo].[ParkingSummaryTmp];
  drop table if exists [dbo].[ParkingSummaryDetailTmp];


  SELECT a.[IDPK]
      ,a.[Date] 
      ,a.[Operations]
      ,a.[Total]
      ,case when p.sii = 1 then SUBSTRING(a.[InvoiceNoMin], 10, len(a.[InvoiceNoMin])) else '-' end  InvoiceNoMin
      ,case when p.sii = 1 then SUBSTRING(a.[InvoiceNoMax], 10, len(a.[InvoiceNoMax])) else '-' end  InvoiceNoMax
	  ,coalesce(b.[Total], 0) [ParkingTransTotal]
	  ,coalesce(b.[Operations], 0) [ParkingTransNum]
	  ,coalesce(b.[SumMinutes], 0) [SumMinutes]
	  ,coalesce(c.[Total], 0) [InvoicesTotal]
	  ,coalesce(c.[Operations], 0) [InvoicesNum]
	  ,coalesce(d.[Total], 0) [ACATotal]
	  ,coalesce(d.[Operations], 0) [ACANum]
	  ,coalesce(e.[Total], 0) [CEITotal]
	  ,coalesce(e.[Operations], 0) [CEINum]
	  ,coalesce(h.[Total], 0)  [CERTotal]
	  ,coalesce(h.[Operations], 0) [CERNum] 
	  ,coalesce(f.[Total], 0) [CashTotal]
	  ,coalesce(f.[Operations], 0) [CashNum]
	  ,coalesce(g.[Total] , 0) [RestTotal]
	  ,coalesce(g.[Operations] , 0) [RestNum]
	  into [ParkingSummaryTmp]
  FROM [VAllOperationsByDate] a 
  left join [VParkingTransByDate] b on a.[IDPK] = b.[IDPK] and a.[Date] = b.[Date]
  left join [VInvoicesByDate] c on a.[IDPK] = c.[IDPK] and a.[Date] = c.[Date]
  left join [VSkidataAmountCancellationsByDate] d on a.[IDPK] = d.[IDPK] and a.[Date] = d.[Date]
  left join [VSkidataCreditEntriesIssuedByDate] e on a.[IDPK] = e.[IDPK] and a.[Date] = e.[Date]
  left join [VSkidataCreditEntriesRedeemedByDate] h on a.[IDPK] = h.[IDPK] and a.[Date] = h.[Date]
  left join [VPaymentsByDateCash] f on a.[IDPK] = f.[IDPK] and a.[Date] = f.[Date]
  left join [VPaymentsByDateRest] g on a.[IDPK] = g.[IDPK] and a.[Date] = g.[Date]
  left join [AA-ADMIN].[dbo].[MDParking] p on a.IDPK = p.ID


  SELECT a.[IDPK]
      ,a.[Date]
	  ,a.[PaymentTypeId]
      ,c.PaymentTypeName
      ,a.[Operations]
      ,a.[Total] Total
  into [ParkingSummaryDetailTmp]
  FROM [VPaymentsByDatePaymentType] a
  left join [ALLPK].[dbo].[MDPaymentType] c on c.[PaymentTypeID] = a.[PaymentTypeId] and c.[IDPK] = a.[IDPK] and c.[TransType] = 'P'
	
  drop table if exists [dbo].[ParkingSummary];
  drop table if exists [dbo].[ParkingSummaryDetail];

  EXEC sp_rename 'ParkingSummaryTmp', 'ParkingSummary';  
  EXEC sp_rename 'ParkingSummaryDetailTmp', 'ParkingSummaryDetail';  


END
GO
/****** Object:  StoredProcedure [dbo].[NavExportCSV]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NavExportCSV]
    @company VARCHAR(40) = null, 
    @genDate DATE = null
AS
BEGIN
    -- Declaración de variables
    DECLARE @cmd VARCHAR(8000);

	-- Por si queremos usar la fecha de hoy para el nombre del archivo
    DECLARE @currentDate DATE = COALESCE(@genDate, DATEADD(dd, -1, CAST(GETDATE() as date)));
    DECLARE @currentDateStr NVARCHAR(8) = FORMAT(@currentDate, 'yyyyMMdd');

	DECLARE @dateFormat NVARCHAR(20) = 'dd/MM/yyyy HH:mm'; -- Formato para datos tipo DateTime2

    DECLARE @dirRoot NVARCHAR(255) = 'E:\ERP\SIPTOP\';
    DECLARE @dirTmp NVARCHAR(255) = 'E:\ERP\TMP\';

    DECLARE @filePathTmp NVARCHAR(255) =  null;
    DECLARE @filePathPending NVARCHAR(255) =  null;
    DECLARE @filePathGenerated NVARCHAR(255) = null;
        
    DECLARE @fileName NVARCHAR(255);
    DECLARE @companyVar NVARCHAR(40);
	DECLARE @parkingVar NVARCHAR(40);

    DECLARE c CURSOR FOR
        SELECT [Company], [Dacode]
        FROM [AA-ADMIN].[dbo].[MDParking]
        WHERE Active = 1 and ([Company] = @company or @company is null)

    OPEN c

    FETCH NEXT FROM c
    INTO @companyVar, @parkingVar
        
    WHILE @@FETCH_STATUS = 0
    BEGIN

        BEGIN TRY
            set @fileName = + @currentDateStr + '-' + @companyVar + '-' + @parkingVar + '.csv';
            set @filePathTmp = @dirTmp  + '\' + @fileName;
            set @filePathGenerated = @dirRoot + @companyVar + '\Generados\' + @fileName;
            set @filePathPending = @dirRoot + @companyVar + '\Pendientes\' + @fileName;

            -- Construcción de la consulta SQL
            DECLARE @sqlQuery VARCHAR(MAX) = '
                SET NOCOUNT ON;
                SELECT [IDPK]
                    ,[NombreParking]
                    ,[Departamento]
                    ,[FechaEmision]
                    ,[TipoDocumento]
                    ,[NoDocumento]
                    ,[FormaPago]
                    ,[LineaNo]
                    ,[Expendedor]
                    ,[Cantidad]
                    ,[Total]
                    ,[Alias]
                    ,[Dispositivo]
                    ,[FacturaSimplificadaDesde]
                    ,[FacturaSimplificadaHasta]
                FROM [dbo].[VNavSummary]
                WHERE [SumaryDate] = ''' +  @currentDateStr + ''' and [Company] = ''' + @companyVar + ''' and [Departamento] = ''' + @parkingVar + '''
                ORDER BY [IDPK], [LineaNo]';

            PRINT @sqlQuery;
		    PRINT @filePathTmp

            SET @sqlQuery = REPLACE(REPLACE(@sqlQuery, CHAR(13), ''), CHAR(10), '');


            -- Ejecuta sqlcmd y guarda temporalmente el archivo Pending con encabezados
            SET @cmd = 'sqlcmd -S localhost -d AA-ERPINT -U icca -P Icca2025 -Q "' + @sqlQuery + '" -s ";" -o "' + @filePathTmp + '" -W -w 1024';
            PRINT @cmd;
            EXEC sys.xp_cmdshell @cmd;

            -- Limpieza de separadores (líneas que no comienzan con dos guiones (--) y guarda archivo limpio para Pending
            SET @cmd = 'powershell -Command "Get-Content ' + @filePathTmp + ' | Where-Object {$_ -notmatch ''^-{2,}''} | Set-Content ' + @filePathGenerated + '"';
            PRINT @cmd;
            EXEC sys.xp_cmdshell @cmd;

            -- Duplica el archivo limpio en la ruta de History
            SET @cmd = 'copy /Y ' + @filePathGenerated + ' ' + @filePathPending;
            PRINT @cmd;
            EXEC sys.xp_cmdshell @cmd;

			-- Elimina el archivo temporal
            SET @cmd = 'del ' + @filePathTmp;
            PRINT @cmd;
            EXEC sys.xp_cmdshell @cmd;

            --PRINT 'Archivo CSV creado correctamente en ' + @filePath + ' y ' + @filePath2;
        END TRY
        BEGIN CATCH
            PRINT 'Error: ' + ERROR_MESSAGE();
        END CATCH


        FETCH NEXT FROM c
        INTO @companyVar, @parkingVar

    END

    CLOSE c
    DEALLOCATE c
END;
GO
/****** Object:  StoredProcedure [dbo].[NavSummaryAllParkingsDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Execute summary from all parking on a date
-- =============================================
CREATE   PROCEDURE [dbo].[NavSummaryAllParkingsDate]
@summaryDate date = null
AS
BEGIN

	if(@summaryDate is null)
	set @summaryDate = cast(dateadd(dd,-1,getdate()) as date)

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @executioId uniqueidentifier = newid();
	declare @sql varchar(max) = '';
	declare @parkingId varchar(10)

	DECLARE c CURSOR READ_ONLY FOR
	SELECT [ID]
	FROM [AA-ADMIN].[dbo].[MDParking] where [Active] = 1;

	OPEN c  
	FETCH NEXT FROM c INTO @ParkingId

	WHILE @@FETCH_STATUS = 0
	BEGIN
		BEGIN TRY

		set @sql ='EXEC NavSummaryParkingDate ''' + @parkingId + ''',''' + cast(@summaryDate as varchar) + ''''

		exec(@sql)
		END TRY
			BEGIN CATCH
				INSERT INTO [AA-ADMIN].[dbo].[TRProcessError]
				([ID]
				,[IDPK]
				,[UserName]
				,[ErrorNumber]
				,[ErrorState]
				,[ErrorSeverity]
				,[ErrorLine]
				,[ErrorProcedure]
				,[ErrorMessage]
				,[ErrorDateTime]
				,[ExcutionId])
				VALUES
					(NEWID(),
					'NAV',
					SUSER_SNAME(),
					ERROR_NUMBER(),
					ERROR_STATE(),
					ERROR_SEVERITY(),
					ERROR_LINE(),
					ERROR_PROCEDURE(),
					ERROR_MESSAGE(),
					GETDATE()
					,null);

			END CATCH

		FETCH NEXT FROM c INTO @ParkingId
	END
	close c
	deallocate c

END

GO
/****** Object:  StoredProcedure [dbo].[NavSummaryLastMonth]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Execute summary from all parking in last month
-- =============================================

CREATE   PROCEDURE [dbo].[NavSummaryLastMonth]
AS

declare @dateBegin date = cast(dateadd(dd, -31, getdate()) as date);

while @dateBegin < cast(GETDATE() as date)
begin
	print @dateBegin
	EXEC [dbo].[NavSummaryAllParkingsDate] @dateBegin
	set @dateBegin = dateadd(dd, 1, @dateBegin);
end



GO
/****** Object:  StoredProcedure [dbo].[NavSummaryLastMonthParking]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Execute summary from one parking in last month
-- =============================================

CREATE   PROCEDURE [dbo].[NavSummaryLastMonthParking]
@parkingId varchar(10)
AS

declare @sql varchar(max) = '';
declare @executioId uniqueidentifier = newid();
declare @dateBegin date = cast(dateadd(dd, -30, getdate()) as date);

while @dateBegin < cast(GETDATE() as date)
begin
	print @dateBegin
	
	BEGIN TRY

		set @sql ='EXEC NavSummaryParkingDate ''' + @parkingId + ''',''' + cast(@dateBegin as varchar) + ''''

		exec(@sql)
		END TRY
			BEGIN CATCH

				INSERT INTO [AA-ADMIN].[dbo].[TRProcessError]
				([ID]
				,[IDPK]
				,[UserName]
				,[ErrorNumber]
				,[ErrorState]
				,[ErrorSeverity]
				,[ErrorLine]
				,[ErrorProcedure]
				,[ErrorMessage]
				,[ErrorDateTime]
				,[ExcutionId])
				VALUES
					(NEWID(),
					'PEND',
					SUSER_SNAME(),
					ERROR_NUMBER(),
					ERROR_STATE(),
					ERROR_SEVERITY(),
					ERROR_LINE(),
					ERROR_PROCEDURE(),
					ERROR_MESSAGE(),
					GETDATE()
					,null);


			END CATCH


	set @dateBegin = dateadd(dd, 1, @dateBegin);
end



GO
/****** Object:  StoredProcedure [dbo].[NavSummaryLastWeek]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Execute summary from all parking in last week
-- =============================================

CREATE   PROCEDURE [dbo].[NavSummaryLastWeek]
AS

declare @dateBegin date = cast(dateadd(dd, -8, getdate()) as date);

while @dateBegin < cast(GETDATE() as date)
begin
	print @dateBegin
	EXEC [dbo].[NavSummaryAllParkingsDate] @dateBegin
	set @dateBegin = dateadd(dd, 1, @dateBegin);
end



GO
/****** Object:  StoredProcedure [dbo].[NavSummaryParkingDate]    Script Date: 24/08/2026 14:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Juan Fco Ramírez García
-- Date: 03-2026
-- Params:
-- Return: Nothing
-- Summary:	Execute summary parking on a date
-- =============================================
CREATE   PROCEDURE [dbo].[NavSummaryParkingDate]
@parkingId varchar(10),
@summaryDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @type varchar(10);
	declare @sql varchar(max) = '';
	declare @DocumentNo varchar(50);
	declare @SCType varchar(10) = null;
	declare @multiCounter int
	declare @RowNum int = 0;

	select @SCType = [type], @DocumentNo = convert(varchar(25), @summaryDate, 112) + '-' + [DACode] + '-01', @multiCounter = coalesce(MultiCounter, 0)
	from [dbo].[VParking] where ID = @parkingId;

	IF OBJECT_ID('#NavSummary') IS NOT NULL DROP TABLE #NavSummary
	IF OBJECT_ID('#ParkingTrans') IS NOT NULL DROP TABLE #ParkingTrans
	IF OBJECT_ID('#RevenuePayments') IS NOT NULL DROP TABLE #RevenuePayments
	IF OBJECT_ID('#RevenuePaymentsFilter') IS NOT NULL DROP TABLE #RevenuePayments
	IF OBJECT_ID('#Shifts') IS NOT NULL DROP TABLE #Shifts;
	IF OBJECT_ID('#NILTicket') IS NOT NULL DROP TABLE #NILTicket;
	IF OBJECT_ID('#PaymentWithValueCard') IS NOT NULL DROP TABLE #PaymentWithValueCard;

	SELECT * INTO #NavSummary from [dbo].[NavSummary] where 1 != 1

	SELECT * INTO #ParkingTrans
	FROM
		 (SELECT [IDPK], [ParkingTransTime], [InvoiceNo], [PaymentTypeId], [ConceptTypeId], [PaymentDeviceName], [ParkingTransType], [ArticleCode], [Remarks] [Description], [OperatorSurname], [OperatorName]
		 FROM [ALLPK].[dbo].[TRParkingTrans] 
		 where IDPK = @parkingId and CAST([ParkingTransTime] as date) = @summaryDate
		 UNION
		 SELECT [IDPK], [InvoiceTime], [InvoiceNo], [PaymentTypeId], [ConceptTypeId], [PaymentDeviceName], 'P' [TransType], [ArticleCode], '' [Description], [OperatorSurname], [OperatorName]
		 FROM [ALLPK].[dbo].[TRInvoice] 
		 where IDPK = @parkingId and CAST([InvoiceTime] as date) = @summaryDate) a 

	SELECT a.*, 
	convert(varchar(8), a.[PaymentTime], 112) + '$' + SUBSTRING(a.[InvoiceNo], COALESCE(CHARINDEX('/', a.[InvoiceNo]), 1) + 1, LEN(a.[InvoiceNo])) [InvoiceNoM] 
	INTO #RevenuePayments
	FROM [ALLPK].[dbo].[TRPayment]  a join [dbo].[VParking] b on a.[IDPK] = b.[ID]
	where IDPK = @parkingId and CAST([PaymentTime] as date) = @summaryDate

	select [IDPK], [ShiftCode], [DeviceID], [DeviceName], 
	case when [ShiftStartupTime] < @summaryDate then @summaryDate else [ShiftStartupTime] end  [ShiftStartupTime], 
	[ShiftCloseTime], [Time],
	'T' + cast(ROW_NUMBER() OVER(partition by [DeviceId] order by [DeviceName], [ShiftStartupTime]) as varchar(10)) ShiftsNo into #Shifts
	from
	(SELECT [IDPK], [ShiftCode], [DeviceID], [DeviceName], [ShiftStartupTime],
	   case when (ShiftTime = '2100-01-01') then DATEADD(DD, 1, cast([ShiftStartupTime] as date)) else ShiftTime end [Time]
      ,case when ([ShiftCloseTime] = '2100-01-01') then DATEADD(DD, 1, cast([ShiftStartupTime] as date)) else [ShiftCloseTime] end [ShiftCloseTime]
	FROM [ALLPK].[dbo].[TRShift]) a
	where IDPK = @parkingId
	and (cast(a.[ShiftStartupTime] as date) = @summaryDate or cast(a.[ShiftCloseTime] as date) = @summaryDate)

	--PAGOS FILTRADOS
	SELECT a.* INTO #RevenuePaymentsFilter
	FROM #RevenuePayments a join [dbo].[VParking] b on a.[IDPK] = b.[ID]
	where 
	(b.[type] = 'SD' and a.[ConceptTypeID] = 'P') or
	(b.[type] = 'MY' and ConceptTypeID = 'P') or 
	(b.[type] = 'EQ' and a.NOrder = 1 and a.[PaymentTypeID] not in ('3','4','5')  and a.[ConceptTypeID] not in ('4', '9', '8', '13', '17'))

	--CAJEROS y OTROS DISPOSITIVOS
	INSERT INTO #NavSummary ([IDPK], [SumaryDate], [DACode], [DocumentType], 
	[DocumentNo], [PaymentTypeCode], [LineNo], [LineDescription], 
	[Quantity], [Amount], [Alias], [MachineId])
	select @parkingId, @summaryDate, s.DACode, 'P', 
	@DocumentNo, PaymentTypeName, ROW_NUMBER() OVER(order by [DeviceName], [PaymentTypeName]), DeviceName + ' - ' + PaymentTypeName, 
	Quantity, Total, null, s.DeviceId
	from 
		(select b.DACode, a.DeviceId, a.DeviceName, COUNT(*) Quantity, sum(a.TotalRevenue) Total, c.PaymentTypeName 
		from #RevenuePaymentsFilter a join [dbo].[VParking] b on a.IDPK = b.ID
		join  [ALLPK].[dbo].[MDPaymentType] c on a.IDPK = c.IDPK and a.PaymentTypeID = c.PaymentTypeID and c.TransType = 'P'
		where ((a.DeviceType <> 0 and b.type = 'SD') or (a.DeviceType <> 4 and b.type = 'EQ'))
		group by b.DACode, a.DeviceId, a.DeviceName, c.PaymentTypeName) s

	select @RowNum = MAX([LineNo]) from #NavSummary

	--CAJAS MANUALES
	INSERT INTO #NavSummary ([IDPK], [SumaryDate], [DACode], [DocumentType], 
	[DocumentNo], [PaymentTypeCode], [LineNo], [LineDescription], 
	[Quantity], [Amount], [Alias], [MachineId])
	select @parkingId, @summaryDate, s.DACode, 'P', 
	@DocumentNo, PaymentTypeName, @RowNum + ROW_NUMBER() OVER(order by [DeviceName], [PaymentTypeName]), DeviceName + ' - ' + PaymentTypeName + ' - ' + ShiftsNo, 
	Quantity, Total, null, s.[DeviceId]
	from
		(select g.DACode, g.DeviceId, g.DeviceName, g.PaymentTypeName, SUM(g.TotalRevenue) [Total], COUNT(*) Quantity, ShiftsNo
		from
			(select b.DACode, a.DeviceID, a.DeviceName, a.TotalRevenue, c.PaymentTypeName, a.InvoiceNoM,
			coalesce((select top 1 ShiftsNo from #Shifts t where a.DeviceName = t.DeviceName and a.[PaymentTime] >= t.ShiftStartupTime and a.[PaymentTime] <= t.[ShiftCloseTime]), 'Sin turno') ShiftsNo
				from #RevenuePaymentsFilter a join [dbo].[VParking] b on a.IDPK = b.ID
				join [ALLPK].[dbo].[MDPaymentType] c on a.IDPK = c.IDPK and a.PaymentTypeID = c.PaymentTypeID and c.TransType = 'P'
				where ((a.DeviceType = 0 and b.type = 'SD') or (a.DeviceType = 4 and b.type = 'EQ'))) g

		group by g.DACode, g.DeviceId, g.DeviceName, g.PaymentTypeName, g.ShiftsNo) s

	select @RowNum = MAX([LineNo]) from #NavSummary

	select [description], COUNT(*) [Quantity] into #NILTicket from #ParkingTrans where 1 != 1 group by [description]

	if(@SCType = 'EQ') 
	begin
		insert into #NILTicket
		select [description], COUNT(*) [Quantity]
		from #ParkingTrans where [ConceptTypeID] = 8 and [Description] not like '{"stay_id"%'
		group by [description];
	end

	if(@SCType = 'SD') 
	begin
		insert into #NILTicket
		select [OperatorSurname] + ' ' + [OperatorName] as [description], COUNT(*) [Quantity] 
		from #ParkingTrans
		where  [ParkingTransType] = 'G' and [PaymentTypeID] = 1 and [ArticleCode] = 'TAL'
		group by [OperatorSurname] + ' ' + [OperatorName]
	end
	
	INSERT INTO #NavSummary ([IDPK], [SumaryDate], [DACode], [DocumentType], 
	[DocumentNo], [PaymentTypeCode], [LineNo], [LineDescription], 
	[Quantity], [Amount], [Alias], [MachineId], [TicketNoBegin], [TicketNoEnd])
	select @parkingId, @summaryDate, b.DACode, 'E', 
	@DocumentNo, null, @RowNum + ROW_NUMBER() OVER(order by [description]), a.[Description], 
	a.[Quantity], null, null, null, null, null
	from #NILTicket a join [dbo].[VParking] b on b.ID = @parkingId

	select @RowNum = MAX([LineNo]) from #NavSummary

	SELECT a.[ArticleName] [description], count(*) [Quantity] INTO #PaymentWithValueCard
	FROM [ALLPK].[dbo].[TRPayment] a join [dbo].[VParking] b on a.IDPK = b.ID
	where a.[IDPK] = @parkingId and CAST(a.[PaymentTime] as date) = @summaryDate 
	and 
	((b.[type] = 'SD' and a.[ConceptTypeID] = 'PVC') or 
	 (b.[type] = 'EQ' and a.[ConceptTypeID] = '6') or 
	 (b.[type] = 'MY' and a.[PaymentTypeID] = '4'))
	group by [ArticleName]

	INSERT INTO #NavSummary ([IDPK], [SumaryDate], [DACode], [DocumentType], 
	[DocumentNo], [PaymentTypeCode], [LineNo], [LineDescription], 
	[Quantity], [Amount], [Alias], [MachineId], [TicketNoBegin], [TicketNoEnd])
	select @parkingId, @summaryDate, b.DACode, 'T', 
	@DocumentNo, null, @RowNum + ROW_NUMBER() OVER(order by [description]), null, 
	a.[Quantity], null, a.[Description], null, null, null
	from #PaymentWithValueCard a join [dbo].[VParking] b on b.ID = @parkingId

	select @RowNum = MAX([LineNo]) from #NavSummary

	if(@multiCounter = 0)
		INSERT INTO #NavSummary ([IDPK], [SumaryDate], [DACode], [DocumentType], 
		[DocumentNo], [PaymentTypeCode], [LineNo], [LineDescription], 
		[Quantity], [Amount], [Alias], [MachineId], [TicketNoBegin], [TicketNoEnd])
		select @parkingId, @summaryDate, b.DACode, 'T', 
		@DocumentNo, null, @RowNum + 1, null, 
		null, Total, null, null,
		SUBSTRING(a.[TicketNoBegin], 10, len(a.[TicketNoBegin])) [TicketNoBegin], 
		SUBSTRING(a.[TicketNoEnd], 10, len(a.[TicketNoEnd])) [TicketNoEnd]
		from (select min(p.[InvoiceNoM]) [TicketNoBegin], max(p.[InvoiceNoM]) [TicketNoEnd], sum(TotalRevenue) Total
			  from #RevenuePaymentsFilter p) a, [dbo].[VParking] b
		where b.ID = @parkingId
	else
		INSERT INTO #NavSummary ([IDPK], [SumaryDate], [DACode], [DocumentType], 
		[DocumentNo], [PaymentTypeCode], [LineNo], [LineDescription], 
		[Quantity], [Amount], [Alias], [MachineId], [TicketNoBegin], [TicketNoEnd])
		select @parkingId, @summaryDate, b.DACode, 'T', 
		@DocumentNo, null, @RowNum + ROW_NUMBER() OVER(order by a.[DeviceName]), a.[DeviceName], 
		null, Total, null, a.[DeviceID], 
		SUBSTRING(a.[TicketNoBegin], 10, len(a.[TicketNoBegin])) [TicketNoBegin], 
		SUBSTRING(a.[TicketNoEnd], 10, len(a.[TicketNoEnd])) [TicketNoEnd]
		from (select p.[DeviceName], p.[DeviceID], min(p.[InvoiceNoM]) [TicketNoBegin], max(p.[InvoiceNoM]) [TicketNoEnd], sum(TotalRevenue) Total
			  from #RevenuePaymentsFilter p 
			  group by  p.[DeviceName], p.[DeviceID]) a, [dbo].[VParking] b
		where b.ID = @parkingId

	delete from [dbo].[NavSummary] where [IDPK] = @parkingId and [SumaryDate] = @summaryDate;
	insert into [dbo].[NavSummary] select * from #NavSummary

	
	--select * from #NavSummary order by [LineNo]
	--select * from #NILTicket
END
GO
USE [master]
GO
